
    <body>
      <form action="/delete/{{expenseid}}" method="POST">
      <div class="container">
        <h4 class="heading-h4">All expenses</h4>
        <table>

          <tr>
            <th>Description</th>
            <th>Category</th>
            <th>Totals</th>
          </tr>

            <tr {{#each expenses}} >
              <td>{{description}}</td>
              <td>{{category_id}}</td>
              <td>{{amount}}</td>
              <td><button type="submit">Delete</button></td>
            </tr {{/each}}>

        </table>
      </div>
    </form>
    <a href="/">Back to home</a>
  </body>
  